@use "../abstracts/variables";

main {
  background: variables.$primary-black;

  .section-padding {
    padding: variables.$section-padding-block variables.$section-padding-inline;

    .container-custom {
      max-width: 1200px;
      margin: 0 auto;

      .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: variables.$gap-lg;

        h2 {
          color: variables.$accent-red;
          font-size: variables.$font-size-h2;
          margin-bottom: variables.$gap-sm;
        }

        p {
          color: variables.$soft-gray;
          font-size: variables.$font-size-lg;
        }
      }
    }
  }

  // ----- GRIDS -----
  .programs-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: variables.$gap-lg 0;
    max-width: 100%;
  }

  .programs-container {
    padding: variables.$gap-lg;
  }

  .events-section {
    padding: variables.$section-padding-block variables.$section-padding-inline;
  }

  .events-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: variables.$card-gap;
  }
}